@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  color: grey;
  -webkit-app-region: drag; /* Make the entire window draggable */
}

.clock {
  user-select: none; /* Prevent text selection */
  position: absolute; /* Make the clock position absolute for dragging */
  cursor: move; /* Change cursor to move when hovering over the clock */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}