/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    -webkit-app-region: drag;
  }
  
  .tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    
  }
  
  .date {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .task-list {
    width: 80%;
    max-width: 600px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
    -webkit-app-region: no-drag;
  }
  
  .task {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .task .mark-done {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .task .task-content {
    display: flex;
    flex-direction: column;
  }
  
  .task.done .task-content .title,
  .task.done .task-content .notes,
  .task.done .task-content .due {
    text-decoration: line-through;
    font-style: italic;
    color: grey;
  }
  
  .top-right-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navigation-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    -webkit-app-region: no-drag;
  }
  
  .navigation-buttons button {
    padding: 10px;
    margin: 0 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    -webkit-app-region: no-drag;
  } */

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  -webkit-app-region: drag;
}


.tasks-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;


}

.todoheader {
  width: 100%;
  height: 4.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin: 0 2.69rem 0 2.69rem; */



}


.date {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  /* padding-right: 2.81rem;
    padding-left: 2.81rem; */
  width: 12rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;





}


#prev-day {
  width: 0.625rem;
  height: 1.0625rem;
  /* 
    width: 100%;
    height: 100%; */
  background-image: url('../src/todo/todo-black-l.png');
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  -webkit-app-region: no-drag;


}

/* #next-day {
    width: 0.625rem;
    height: 1.0625rem;

    background-image: url('../src/todo/todo-black-r.png');
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;


} */


#next-day {
  width: 0.625rem;
  height: 1.0625rem;
  /* width: 100%;
    height: 100%; */
  background-image: url('../src/todo/todo-black-l.png');
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  transform: rotate(180deg);
  -webkit-app-region: no-drag;


}


.todo-list-container {
  height: 23.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.task-list {
  width: 100%;
  height: 100%;

}





.task {
  width: 100%;
  /* max-width: 17.5rem; */
  /* background: #fff;
  border: 1px solid #ddd; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* border-radius: 4px; */
  padding: 0.6875rem 1.81rem 0.6875rem 1.81rem;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* margin: 0.62rem 0; */
  flex-direction: row;
  /* background-color: #F6F6F6; */
  border: none;
}


.task .mark-done {
  width: 0.875rem;
  height: 0.875rem;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
  position: relative;
}

.task.done .mark-done {
  width: 0.875rem;
  height: 0.875rem;
  border: 2px solid #A0A0A0;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}

.task.done .mark-done::after {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background-color: #A0A0A0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task .task-content {
  display: flex;
  flex-direction: column;
  max-width: 13rem;
}

.task.done .task-content .title,
.task.done .task-content .notes,
.task.done .task-content .due {
  text-decoration: line-through;
  font-style: italic;
  color: #A0A0A0;
}

/* .title{
    font-weight: 700;
  } */

.notes {
  font-size: 0.75rem;
}


.todo-edit {
  background-image: url('../src/todo/todo-edit-black.png');
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  outline: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  border: 0.0625rem solid black; 
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: block;
  cursor: pointer;
  -webkit-app-region: no-drag;
  transform: rotate(45deg);

  

}
