@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Pompiere&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

html,
body {
  background-color: #404040;
  font-family: Inter, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;

}

.sidebar {
  background-color: #272727;
  width: 14.5rem;
  height: 100%;
  top: 0;
  left: 0;

}


.sidebar-header {
  width: 10.5625rem;
  height: 2.5rem;
  padding: 1.87rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-image {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}


#logo-word {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.25rem;
  color: #ffffff;
  padding-left: 0.56rem;

}



nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8.125rem;
  left: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  height: 3.75rem;
  width: 14.5rem;
  display: flex;
  align-items: center;


}

nav ul li a {
  color: #BDBDBD;
  font-weight: medium;
  font-size: 1.25rem;
  text-decoration: none;
  position: absolute;
  left: 2rem;
}


.toDoList-page {
  background-color: #404040;
}



#toDoList-page {
  color: #FF8D3A;
  font-weight: bold;
}


.calendar:hover {
  color: #ff8d3a;
}

.myWiddy-page :active {
  background-color: #404040;
}

.myWiddy-page :hover {
  color: #ff8d3a;
}


.clock-page :hover {
  color: #FF8D3A;
}



.weather-page :hover {
  color: #ff8d3a;
}


.main-content {
  position: fixed;
  left: 232px;
  top: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow-y: auto;

}

.content-header {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  height: 86px;
  width: 1190px;
}


#content-title {
  position: absolute;
  left: 33px;
  top: 37px;
  font-size: 30px;
  font-weight: bold;
  color: #ff8d3a;
  padding: 0px;
  margin: 0px;
}

.content-body {
  position: absolute;
  width: 74.375rem;
  height: 42.75rem;
  top: 7.25rem;
  margin: 0px;
  padding-left: 3.75rem;
  display: flex;
  flex-direction: column;
}



.daily-view {
  width: 66.5625rem;
  height: 29.375rem;
  background-color: yellow;
  display: flex;
}

.daily-header {

  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding: 0px;
  margin: 0px;
  font-style: none;
}

.todo1button {
  width: 19.625rem;
  height: 19.625rem;
  background-color: #5E5E5E;
  border-radius: 0.9375rem;
  border: none;
  padding: 0;
  cursor: pointer;
}


.todo1-image {
  width: 11rem;
  height: 16.3125rem;
  flex-shrink: 0;
  filter: drop-shadow(0.6875rem 0.6875rem 1rem #404040);

}


.todo2button {
  position: absolute;
  left: 27.25rem;
  width: 19.625rem;
  height: 19.625rem;
  background-color: #5E5E5E;
  border-radius: 0.9375rem;
  border: none;
  padding: 0;
  cursor: pointer;

}


.todo2-image {
  width: 11rem;
  height: 16.3125rem;
  flex-shrink: 0;
  filter: drop-shadow(0.6875rem 0.6875rem 1rem #404040);

}


.todo3button {
  position: absolute;
  top: 21.4375rem;
  left: 3.75rem;
  width: 31.5rem;
  height: 18.5rem;
  background-color: #5E5E5E;
  border-radius: 0.9375rem;
  border: none;
  padding: 0;
  cursor: pointer;

}


.todo3-image {
  width: 27.3125rem;
  height: 8.75rem;
  flex-shrink: 0;
  filter: drop-shadow(0.6875rem 0.6875rem 1rem #404040);

}


.todo4button {
  position: absolute;
  top: 38.87rem;
  left: 37.6875rem;
  width: 31.5rem;
  height: 18.5rem;
  background-color: #5E5E5E;
  border-radius: 0.9375rem;
  border: none;
  padding: 0;
  cursor: pointer;

}


.todo4-image {
  width: 27.3125rem;
  height: 8.75rem;
  flex-shrink: 0;
  filter: drop-shadow(0.6875rem 0.6875rem 1rem #404040);
}



.todo5button {
  position: absolute;
  top: 21.88rem;
  left: 3.75rem;
  width: 31.5rem;
  height: 18.5rem;
  background-color: #5E5E5E;
  border-radius: 0.9375rem;
  border: none;
  padding: 0;
  cursor: pointer;

}


.todo5-image {
  width: 27.3125rem;
  height: 8.75rem;
  flex-shrink: 0;
  filter: drop-shadow(0.6875rem 0.6875rem 1rem #404040);
}





@media (min-width: 646px) and (max-width: 1350px) {
  .cal2button {
    left: 3.75rem;
    top: 42.9375rem;

  }


  .cal4button {
    left: 3.75rem;
    top: 64.4375rem;
    margin-bottom: 10rem;

  }


  /* .main-content {
    overflow-y: auto;
  } */


}