@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');





#iii {
  width: 100%;
  height: 100%;
  border-radius: 0.44rem;
  background-color: white;

}


body {
  font-family: "Inter", sans-serif;
  background-color: transparent;
  margin: 0;
  padding: 0;
  -webkit-app-region: drag;
  height: 100%;
  width: 100%;
  border-radius: 0.44rem;
}


.tasks-container {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  width: 18.75rem;
  border-radius: 0.44rem;




}

.todoheader {
  width: 18.75rem;
  height: 4.25rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.44rem;

  /* background-color: pink; */



}


.date {
  font-size: 1rem;
  font-weight: 600;
  color: black;

  width: 12rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;





}


#prev-day {
  display: flex;

  width: 0.625rem;
  height: 1.0625rem;
  background-image: url('../src/todo/todo-black-l.png');
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  background-size: contain;

  -webkit-app-region: no-drag;


}




/* .dropbtn {
  background-image: url('../src/calendar/cal1-sort.png');
  height: 1.88rem;
  width: 1.88rem;
  right: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  background-size: contain;
  -webkit-app-region: no-drag;
} */







#next-day {
  width: 0.625rem;
  height: 1.0625rem;
  background-image: url('../src/todo/todo-black-l.png');
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  transform: rotate(180deg);
  background-size: contain;

  -webkit-app-region: no-drag;


}


.todo-list-container {
  height: 23.375rem;
  width: 18.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin-top: 4.25rem;
  -webkit-app-region: no-drag;

  /* background-color: aqua; */

}

.task-list {
  width: 100%;
  height: 23.375rem;


}





.task {
  width: 100%;

  padding: 0.6875rem 1rem 0.6875rem 1.625rem;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: none;
}


.task .mark-done {
  width: 0.875rem;
  height: 0.875rem;
  border: 0.0625rem solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.875rem;
  position: relative;
}

.task.done .mark-done {
  width: 0.875rem;
  height: 0.875rem;
  border: 0.0625rem solid #A0A0A0;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}

.task.done .mark-done::after {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background-color: #A0A0A0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task .task-content {
  display: flex;
  flex-direction: column;
  max-width: 13rem;
}

.task.done .task-content .title,
.task.done .task-content .notes,
.task.done .task-content .due {
  text-decoration: line-through;
  font-style: italic;
  color: #A0A0A0;
}


.notes {
  font-size: 0.75rem;
}


.todo-edit {
  background-image: url('../src/todo/todo-edit-black.png');
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  outline: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  border: 0.0625rem solid black;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 1.0625rem;
  bottom: 1rem;
  display: block;
  cursor: pointer;
  -webkit-app-region: no-drag;
  transform: rotate(40deg);



}



/* 
body{
  background-color: white;
}


#prev-day {
  position: absolute;
  top:1.56rem;
  left: 2.63rem;
  width: 0.625rem;
  height: 1.0625rem;

  background-image: url('../src/todo/todo-black-l.png');
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  -webkit-app-region: no-drag;


}

.date {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  width: 12.25rem;
  color: black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  top:1.5rem;
  left:3.25rem;
  position:absolute;





}


#next-day {
  position: absolute;
  top:1.56rem;
  right: 2.63rem;
  width: 0.625rem;
  height: 1.0625rem;

  background-image: url('../src/todo/todo-black-l.png');
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  transform: rotate(180deg);
  -webkit-app-region: no-drag;


} */


.todo-list-container::-webkit-scrollbar {
  width: 0.69rem;
  margin-right: 3.125rem;
  position: relative;
  border-right: 0.25rem solid transparent;


}

.todo-list-container::-webkit-scrollbar-track {
  background: #ebebeb;
  /* Custom track background for this element */
  border-radius: 1.44rem;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  background-clip: padding-box;

}

.todo-list-container::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  /* Color of the thumb */
  border-radius: 1.44rem;
  border-right: 0.25rem solid transparent;




}

.todo-list-container::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
  cursor: pointer;


  /* Color when hovering */
}
