

html {

    -webkit-app-region: drag;
    height: 100%;
    width: 100%;
  }


  body {
    -webkit-app-region: no-drag;
  }


#weather-result {
    color: black;
    background-color: white;
}

.red-set #weather-result div {
    color: red;
    background-color: pink;
}

.red-set #toggle-unit{
    color:blue;
}

.red-set .weather-container {
    background-color: bisque;
}en

.red-set .weather-search {
    background-color: blueviolet;
}

.red-set .result-container {
    background-color: aqua;
}